<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../../autoload.php" colors="true">
    <testsuites>
        <testsuite name="Io161 - Octicons\\Tests">
            <directory>test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
